<a href="https://colab.research.google.com/github/axisSN01/human_datathon_Grupo4/blob/main/ALEXIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/axisSN01/human_datathon_Grupo4

Cloning into 'human_datathon_Grupo4'...
remote: Enumerating objects: 67, done.
remote: Counting objects: 100% (67/67), done.
remote: Compressing objects: 100% (48/48), done.
remote: Total 67 (delta 19), reused 41 (delta 10), pack-reused 0
Unpacking objects: 100% (67/67), done.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/human_datathon_Grupo4/train/train_data.csv")
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,4,5,9,30,31,32,33,34,35,36,37,38,39,40,43,47,49,50) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,identificador,Me identifico,Tengo,Dónde estás trabajando,Años de experiencia,Años en el puesto actual,Trabajo de,Plataformas,Lenguajes de programación o tecnologías.,Automation o funcional?,...,Trabajo para una empresa que no tiene oficina en mi ciudad,¿Cómo venís llevando la pandemia?,Sufriste o presenciaste situaciones de violencia y/o acoso por motivo de,¿Considerás que en tu empresa/organización hay una marcada tendencia a escuchar más a los hombres?,¿Sentís que podés ser vos en tu trabajo?,¿Considerás que tenés oportunidades de crecimiento siendo quien sos dentro de tu organización?,"¿Sentís que alguna vez los prejuicios culturales/sociales sobre tu orientación, género, etnia o discapacidad pudieron obstaculizar el que consigas un trabajo?","En el último año, en tu trabajo ¿recibiste o escuchaste comentarios que considerás inapropiados, subidos de tono y/o discriminatorios?",¿Cuántas veces a la semana vas a trabajar a la oficina?,Valor dólar informal semestral
0,a9a56ec9-b002-4600-8855-d2778e703609,Hombre,27 - 30,Ciudad Autónoma de Buenos Aires,10+,2 - 3,SysAdmin / DevOps,Linux;AWS / Rackspace,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
1,0fbd143d-ead3-42e1-baab-684993242eab,Hombre,24 - 26,Ciudad Autónoma de Buenos Aires,3 - 5,Menos de un año,Developer,NaN,C;Python,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
2,d2c38215-6a79-49cc-a863-3876e6ab4c3b,Hombre,37 - 40,Ciudad Autónoma de Buenos Aires,10+,Menos de un año,SysAdmin / DevOps,*BSD;Linux;AWS / Rackspace,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
3,58917030-1e94-4bb0-bb8b-e1df6420479f,Hombre,41 - 45,Santa Fe,10+,5 - 6,Infosec,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
4,c45b6e6c-c666-456e-8562-a2036a30218f,Hombre,37 - 40,Córdoba,10+,10+,SysAdmin / DevOps,"*BSD;Linux;Windows;xen, kvm",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45222,f11ac55e-a37c-45a3-af6e-11cbad1e7f28,Mujer Cis,25,Tucumán,2.0,2.0,QA / Tester,Ninguna de las anteriores,Ninguno de los anteriores,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16
45223,36ba17c9-901c-4cad-9420-ec10a08b8d19,Varón Cis,26,Tucumán,1.0,1.0,Architect,"Amazon Web Services, Firebase, Linux","CSS, HTML, Javascript, TypeScript",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16
45224,247bcf27-b7a1-4a74-9517-b65d6119ca40,Varón Cis,26,Tucumán,3.0,1.6,Developer,Ninguna de las anteriores,".NET, C#, CSS, HTML, Javascript, TypeScript",NaN,...,Trabajo para una empresa que no tiene oficina ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16
45225,f7817bad-2029-4da4-bdbc-2e086b520361,Varón Cis,27,Tucumán,1.0,0.0,Developer,Amazon Web Services,"Javascript, TypeScript",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16
45226,0f7f2351-9f7a-4d51-83b4-d9e6b9786842,Varón Cis,23,Tucumán,3.0,3.0,Developer,"Amazon Web Services, Azure, Firebase",Swift,NaN,...,Trabajo para una empresa que no tiene oficina ...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16

In [ ]:
df.shape

(45227, 60)

In [ ]:
df.iloc[:,40:60]

,Actividad principal,¿La recomendás como un buen lugar para trabajar?,¿Cómo calificás las políticas de diversidad e inclusión?,Pagos en dólares,¿Cómo venís llevando la cuarentena?,¿Tenés hijos/as menores de edad?,¿Qué tipo de cuarentena hiciste / estás haciendo?,¿Cambió tu situación laboral a raíz de la pandemia?,¿Qué tanto sentís que te está apoyando tu empresa/organización en esta situación?,¿Cómo se vio afectada tu empresa/organización?,Trabajo para una empresa que no tiene oficina en mi ciudad,¿Cómo venís llevando la pandemia?,Sufriste o presenciaste situaciones de violencia y/o acoso por motivo de,¿Considerás que en tu empresa/organización hay una marcada tendencia a escuchar más a los hombres?,¿Sentís que podés ser vos en tu trabajo?,¿Considerás que tenés oportunidades de crecimiento siendo quien sos dentro de tu organización?,"¿Sentís que alguna vez los prejuicios culturales/sociales sobre tu orientación, género, etnia o discapacidad pudieron obstaculizar el que consigas un trabajo?","En el último año, en tu trabajo ¿recibiste o escuchaste comentarios que considerás inapropiados, subidos de tono y/o discriminatorios?",¿Cuántas veces a la semana vas a trabajar a la oficina?,Valor dólar informal semestral
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45222,Servicios / Consultoría de Software / Digital,7.0,10.0,Mi sueldo está dolarizado (pero cobro en moned...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16
45223,Producto basado en Software,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16
45224,Producto basado en Software,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Trabajo para una empresa que no tiene oficina ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16
45225,Producto basado en Software,8.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16
45226,Servicios / Consultoría de Software / Digital,7.0,9.0,Mi sueldo está dolarizado (pero cobro en moned...,NaN,0.0,2.0,"Cambié de trabajo, pero no por la pandemia",8.0,Frenaron las contrataciones,Trabajo para una empresa que no tiene oficina ...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.16

In [ ]:
token = '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'
username = 'axisSN01'
!git config --global user.name "axisSN01"
!git config --global user.email "axs.ibarra@gmail.com"
!git config --global user.password "xtJXzAQcnWnC8dp"
repo = "human_datathon_Grupo4"
%cd {repo}

/content/human_datathon_Grupo4

In [ ]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [ ]:
!git add .

In [ ]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [ ]:
!git commit -a -m "Added NEWFILE"
!git remote -v
!git push origin main