In [1]:
!git clone https://github.com/axisSN01/human_datathon_Grupo4

Cloning into 'human_datathon_Grupo4'...
remote: Enumerating objects: 67, done.
remote: Counting objects: 100% (67/67), done.
remote: Compressing objects: 100% (48/48), done.
remote: Total 67 (delta 19), reused 41 (delta 10), pack-reused 0
Unpacking objects: 100% (67/67), done.

In [35]:
import pandas as pd
import numpy as np

In [ ]:
schema = pd.read_excel("/content/human_datathon_Grupo4/data_schema.xlsx")
schema

In [5]:
df = pd.read_csv("/content/human_datathon_Grupo4/train/train_data.csv")
df_4060 = df.iloc[:,40:60]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2,4,5,9,30,31,32,33,34,35,36,37,38,39,40,43,47,49,50) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df_4060.shape

(45227, 20)

In [22]:
df_4060.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45227 entries, 0 to 45226
Data columns (total 20 columns):
 #   Column                                                                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                                                                          --------------  -----
 0   Actividad principal                                                                                                                                             26100 non-null  object
 1   ¿La recomendás como un buen lugar para trabajar?                                                                                                                26100 non-null  float64
 2   ¿Cómo calificás las políticas de diversidad e inclusión?                                                                                                        26100 non-null  float64
 3   Pagos en dólares                                                                                                                                                2191 non-null   object
 4   ¿Cómo venís llevando la cuarentena?                                                                                                                             2202 non-null   float64
 5   ¿Tenés hijos/as menores de edad?                                                                                                                                4454 non-null   float64
 6   ¿Qué tipo de cuarentena hiciste / estás haciendo?                                                                                                               4454 non-null   float64
 7   ¿Cambió tu situación laboral a raíz de la pandemia?                                                                                                             4454 non-null   object
 8   ¿Qué tanto sentís que te está apoyando tu empresa/organización en esta situación?                                                                               4454 non-null   float64
 9   ¿Cómo se vio afectada tu empresa/organización?                                                                                                                  4453 non-null   object
 10  Trabajo para una empresa que no tiene oficina en mi ciudad                                                                                                      1304 non-null   object
 11  ¿Cómo venís llevando la pandemia?                                                                                                                               2252 non-null   float64
 12  Sufriste o presenciaste situaciones de violencia y/o acoso por motivo de                                                                                        0 non-null      float64
 13  ¿Considerás que en tu empresa/organización hay una marcada tendencia a escuchar más a los hombres?                                                              0 non-null      float64
 14  ¿Sentís que podés ser vos en tu trabajo?                                                                                                                        0 non-null      float64
 15  ¿Considerás que tenés oportunidades de crecimiento siendo quien sos dentro de tu organización?                                                                  0 non-null      float64
 16  ¿Sentís que alguna vez los prejuicios culturales/sociales sobre tu orientación, género, etnia o discapacidad pudieron obstaculizar el que consigas un trabajo?  0 non-null      float64
 17  En el último año, en tu trabajo ¿recibiste o escuchaste comentarios que considerás inapropiados, subidos de tono y/o discriminatorios?                          0 non-null      float64
 18  ¿Cuántas veces a la semana vas a trabajar a la oficina?                                                                                                         0 non-null      float64
 19  Valor dólar informal semestral                                                                                                                                  45227 non-null  float64
dtypes: float64(15), object(5)
memory usage: 6.9+ MB

In [24]:
df_4060.describe(include = "all")

,Actividad principal,¿La recomendás como un buen lugar para trabajar?,¿Cómo calificás las políticas de diversidad e inclusión?,Pagos en dólares,¿Cómo venís llevando la cuarentena?,¿Tenés hijos/as menores de edad?,¿Qué tipo de cuarentena hiciste / estás haciendo?,¿Cambió tu situación laboral a raíz de la pandemia?,¿Qué tanto sentís que te está apoyando tu empresa/organización en esta situación?,¿Cómo se vio afectada tu empresa/organización?,Trabajo para una empresa que no tiene oficina en mi ciudad,¿Cómo venís llevando la pandemia?,Sufriste o presenciaste situaciones de violencia y/o acoso por motivo de,¿Considerás que en tu empresa/organización hay una marcada tendencia a escuchar más a los hombres?,¿Sentís que podés ser vos en tu trabajo?,¿Considerás que tenés oportunidades de crecimiento siendo quien sos dentro de tu organización?,"¿Sentís que alguna vez los prejuicios culturales/sociales sobre tu orientación, género, etnia o discapacidad pudieron obstaculizar el que consigas un trabajo?","En el último año, en tu trabajo ¿recibiste o escuchaste comentarios que considerás inapropiados, subidos de tono y/o discriminatorios?",¿Cuántas veces a la semana vas a trabajar a la oficina?,Valor dólar informal semestral
count,26100,26100.000000,26100.00000,2191,2202.000000,4454.000000,4454.000000,4454,4454.000000,4453,1304,2252.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45227.000000
unique,3,NaN,NaN,7,NaN,NaN,NaN,261,NaN,405,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Producto basado en Software,NaN,NaN,Mi sueldo está dolarizado (pero cobro en moned...,NaN,NaN,NaN,No,NaN,No la afectó,Trabajo para una empresa que no tiene oficina ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,9582,NaN,NaN,801,NaN,NaN,NaN,2654,NaN,1755,1304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,7.300000,7.30318,NaN,3.094460,0.364167,3.065559,NaN,7.462281,NaN,NaN,3.011545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.668934
std,NaN,2.052671,2.67306,NaN,0.805014,0.720138,0.777932,NaN,2.217014,NaN,NaN,0.791363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.085661
min,NaN,1.000000,0.00000,NaN,1.000000,0.000000,1.000000,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.460000
25%,NaN,6.000000,6.00000,NaN,3.000000,0.000000,3.000000,NaN,6.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.855000
50%,NaN,8.000000,8.00000,NaN,3.000000,0.000000,3.000000,NaN,8.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.450000
75%,NaN,9.000000,10.00000,NaN,4.000000,0.000000,4.000000,NaN,9.000000,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147.500000
max,NaN,10.000000,10.00000,NaN,4.000000,5.000000,4.000000,NaN,10.000000,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.160000

In [44]:
df_4060.iloc[:,0] = df_4060.iloc[:,0].fillna("otros")

In [59]:
df.shape[0]

45227

In [65]:
df_4060.loc[:,"¿La recomendás como un buen lugar para trabajar?"].isna().sum()/df.shape[0]

0.42291109293121365

In [69]:
df_4060.loc[:,"¿Cómo calificás las políticas de diversidad e inclusión?"].isna().sum()/df.shape[0]

0.42291109293121365

In [70]:
df_4060.loc[:,"Pagos en dólares"].isna().sum()/df.shape[0]

0.9515554867667544

In [ ]:
df_4060["Pagos en dólares"].where(df_4060.notnull())

In [ ]:
df_4060.drop(columns="¿Cómo venís llevando la cuarentena?", inplace=True)

In [87]:
df_4060.loc[:,"¿Tenés hijos/as menores de edad?"].isna().sum()/df.shape[0]

0.9015190041346983

In [97]:
df_4060.loc[:,"¿Tenés hijos/as menores de edad?"] = np.where(df['¿Tenés hijos/as menores de edad?'].isna(), 0, df['¿Tenés hijos/as menores de edad?'])

In [104]:
print(df_4060.loc[:,"¿Qué tipo de cuarentena hiciste / estás haciendo?"].unique())
print(df_4060.loc[:,"¿Qué tipo de cuarentena hiciste / estás haciendo?"].isna().sum()/df.shape[0])

[nan  4.  3.  2.  1.]
0.9015190041346983

In [109]:
df_4060.loc[:,"¿Qué tipo de cuarentena hiciste / estás haciendo?"] = np.where(df['¿Qué tipo de cuarentena hiciste / estás haciendo?'].isna(), 1, df['¿Qué tipo de cuarentena hiciste / estás haciendo?'])

In [ ]:
print(df_4060.loc[:,"¿Cambió tu situación laboral a raíz de la pandemia?"].unique())
print(df_4060.loc[:,"¿Cambió tu situación laboral a raíz de la pandemia?"].isna().sum()/df.shape[0])
df_4060.loc[:,"¿Cambió tu situación laboral a raíz de la pandemia?"].describe

In [115]:
df_4060.drop(columns="¿Cambió tu situación laboral a raíz de la pandemia?", inplace=True)

In [119]:
print(df_4060.loc[:,"¿Qué tanto sentís que te está apoyando tu empresa/organización en esta situación?"].unique())
print(df_4060.loc[:,"¿Qué tanto sentís que te está apoyando tu empresa/organización en esta situación?"].isna().sum()/df.shape[0])

[nan  8.  3.  6.  9. 10.  5.  2.  4.  7.  1.]
0.9015190041346983

In [120]:
df_4060.loc[:,"¿Qué tanto sentís que te está apoyando tu empresa/organización en esta situación?"] = \
np.where(df['¿Qué tanto sentís que te está apoyando tu empresa/organización en esta situación?'].isna(), \
         0, df['¿Qué tanto sentís que te está apoyando tu empresa/organización en esta situación?'])

In [ ]:
df_4060["¿Cómo se vio afectada tu empresa/organización?"].unique()

In [126]:
df_4060.drop(columns="¿Cómo se vio afectada tu empresa/organización?", inplace=True)

In [ ]:
df_4060["Trabajo para una empresa que no tiene oficina en mi ciudad"] = np.where(df["Trabajo para una empresa que no tiene oficina en mi ciudad"].isna(), 0, 1)
df_4060["Trabajo para una empresa que no tiene oficina en mi ciudad"]

In [ ]:
df_4060["¿Cómo venís llevando la pandemia?"] = np.where(df["¿Cómo venís llevando la pandemia?"].isna(), 0, df["¿Cómo venís llevando la pandemia?"])

In [142]:
df_4060.drop(columns="Sufriste o presenciaste situaciones de violencia y/o acoso por motivo de", inplace = True)

In [146]:
df_4060.drop(columns="¿Considerás que en tu empresa/organización hay una marcada tendencia a escuchar más a los hombres?", inplace = True)